.background {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading {
  color: #1e293b;
  font-weight: 500;
}

.description {
  color: #64748b;
  margin-bottom: 30px;
}

.thumbnail-images-container {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
